@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: #fff;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../../node_modules/bulma/bulma.sass";

.wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navbar {
  border-bottom: 1px solid #fff;
}

.box {
  border: 1px solid #000; 
}

a {
  &:focus,
  &:hover {
    color: black !important;
    text-decoration: underline;
    outline: 0;
  }
}

caption {
  padding: 10px;
  caption-side: bottom;
}

p {
  color: #000;
}
